@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-poppins: ${poppinsFont.css()};
  --font-pacifico: ${ralewayFont.css()};
}

@layer components {
  
}

.logo{
  font-family: var(--font-pacifico);
}

.heading{
  font-family: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

body {

}
