@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}


:root {
  --font-poppins: ${poppinsFont.css()};
  --font-pacifico: ${ralewayFont.css()};
}


.h1 {
  font-family: var(--font-poppins);
}

@layer components {
  .bg-btngradient{
    @apply bg-gradient-to-r from-[#FF9C1A]  to-[#ED250A];
  }

  .bg-text{
    @apply bg-btngradient text-transparent bg-clip-text
  }

  .div-center{
    @apply flex items-center justify-center
  }

  .cta{
    @apply text-white font-semibold w-[200px] h-[50px] rounded-[30px] text-sm btn div-center gap-2
  }
}




.btn {

  background: linear-gradient(to right, #FF9C1A 0%, #ED250A 48%, #FF9C1A 100%);
  background-size: 200% auto;
  transition: background 400ms ease-out;

}

.btn:hover {

  background-position: right center;
}

.spin_img{
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  z-index: 100;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border-top: .2rem solid transparent;
  border-bottom: .2rem solid transparent;
  border-left: .2rem solid #FF9C1A;
  border-right: .2rem solid #ED250A;
  animation: aboutSpinner 5s linear infinite;
}


@keyframes aboutSpinner{
  100%{
      transform: translate(-50%, -50%) rotate(360deg);   
  }
}


/* keyframes */

@keyframes changeTheme{
  0%{
    transform: translateY(0);
  }
  25%{
    transform: rotate(180deg);
  }
  50%{
    transform: translateY(15px);
  }
  100%{
 
    opacity: 0;
  }
}

.changeThemeBtn{
  animation: changeTheme 2s ease-in-out;
}


@keyframes changeDarkTheme{
  0%{
    transform: translateY(0);
  }
  25%{
    transform: rotate(360deg);
  }
  50%{
    transform: translateY(-15px);
  }
  100%{
 
    opacity: 0;
  }
}

.changeDarkThemeBtn{
  animation: changeDarkTheme 2s ease-in-out;
}


@media (prefers-color-scheme: dark) {
  :root {

  }
}

body {

}
