@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}

/* width */
.scrollbar::-webkit-scrollbar {
  display: block;
  width: 10px;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
  background: linear-gradient(to right, #ff9c1a6e, #ed240a7e );
  border-radius: 20px;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 20px;
}



@layer components {
  .bg-btngradient{
    @apply bg-gradient-to-r from-[#FF9C1A]  to-[#ED250A];
  }

  .bg-text{
    @apply bg-btngradient text-transparent bg-clip-text
  }

  .div-center{
    @apply flex items-center justify-center
  }

  .cta{
    @apply text-white font-semibold w-[200px] h-[50px] rounded-[30px] text-sm btn div-center gap-2
  }

  .nav-class{
    @apply bg-[#E1E8EF] w-[80px] h-[80px] max-sm:w-[60px] max-sm:h-[60px] max-xsm:h-[50px] max-xsm:w-[50px] max-sm:rounded-[10px] max-xsm:rounded-[4px] rounded-[20px] flex-col gap-1 div-center
  }

  .h3-header{
   @apply text-[28px] leading-[46.2] tracking-[2.5%]
  }
}




.btn {

  background: linear-gradient(to right, #FF9C1A 0%, #ED250A 48%, #FF9C1A 100%);
  background-size: 200% auto;
  transition: background 400ms ease-out;

}

.btn:hover {

  background-position: right center;
}

.spin_img{
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  z-index: 100;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border-top: .2rem solid transparent;
  border-bottom: .2rem solid transparent;
  border-left: .2rem solid #FF9C1A;
  border-right: .2rem solid #ED250A;
  animation: aboutSpinner 5s linear infinite;
}

.nav-item:hover, .nav-active{
background: linear-gradient(to right, #FF9C1A, #ED250A );
}

.nav-item:hover span, .nav-active span{
  color: white;
  font-weight: bold;
}

.qualific div:nth-child(even){
background-color: #ff9c1a59;
}



/* keyframes */

@keyframes changeTheme{
  0%{
    transform: translateY(0);
  }
  25%{
    transform: rotate(180deg);
  }
  50%{
    transform: translateY(15px);
  }
  100%{
 
    opacity: 0;
  }
}

.changeThemeBtn{
  animation: changeTheme 2s ease-in-out;
}


@keyframes changeDarkTheme{
  0%{
    transform: translateY(0);
  }
  25%{
    transform: rotate(360deg);
  }
  50%{
    transform: translateY(-15px);
  }
  100%{
 
    opacity: 0;
  }
}

.changeDarkThemeBtn{
  animation: changeDarkTheme 2s ease-in-out;
}

@keyframes aboutSpinner{
  100%{
      transform: translate(-50%, -50%) rotate(360deg);   
  }
}



@media (prefers-color-scheme: dark) {
  :root {

  }
}

body {

}
